 /* breakpoint for media */
/*tablet */
@media (min-width: 768px) {
    body {
      margin:0rem;
      padding: 2 rem;
    }
    nav {
      
      ul {
      @include spacing (0,0);
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      }
      li {
      margin: 0 1rem 1rem 1rem;
      font-size: 1.3rem;
      }
    }
    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .item {
      flex-basis: 50%;
      margin: 0;
    }
    .main {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    figure {
      margin: 3rem 0 0 0;
      flex-basis: 37%;
    }
    article {
      flex-basis: 60%;
    }
    img {
      max-width: 95%;
    }
  }
  