//variables
$head-font:'Poppins', sans-serif;
$body-font:'Lato', sans-serif;
$bkg-clr: #082B59;
$bord-clr: #d98555;
$button-clr: #59331d;
$head-font-clr:#ffffff;
$foot-font-clr: #f2f2f2;
$body-font-clr:#082B59;
$img-radius: 10%;