CSS
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #082B59; }
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
    color: #082B59;
  }
  /* make images flexible */
  img {
    max-width: 100%;
    max-height: 85%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
  a {
    color: #59331d;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: 10px solid #d98555;
  }
  /* navbar styling */
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    justify-content: center;
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
    display: inline;
  }
  /* max width on the image in pixels */
  nav .logo img {
    max-width: 200px;
  }
  /* flex basis on the image container, li */
  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  nav a:hover {
    color: #d98555;
  }
  /* establishes a white background */
  .main-bkgd {
    background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg
    ) repeat-x bottom;
    padding-bottom: 300px;
  }
  /* sits inside of the white background, centered */
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .contact-us {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }
  .our-products {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
  article {
    flex-basis: 100%;
  }
  figure {
    margin: 3rem 0 0 0;
    flex-basis: 100%;
  }
  .button {
    display: inline-block;
    background-color: #59331D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #59331d;
  }
  section {
    background-color: #ffffff;
    padding-bottom: 0.5rem 1rem;
  }
  .container {
    background-color: #ffffff;
    padding: 2rem;
  }
  footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }

  /* breakpoint for media */
/*tablet */
@media (min-width: 768px) {
  body {
    margin:0rem;
    padding: 2 rem;
  }
  nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .item {
    flex-basis: 50%;
    margin: 0;
  }
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  figure {
    margin: 3rem 0 0 0;
    flex-basis: 25%;
  }
  article {
    flex-basis: 73%;
  }
  img {
    max-width: 95%;
  }
}

/*destop */
@media (min-width: 1025px) {
body {
  margin:0rem;
}
nav ul {
  display: flex;
  justify-content: right;
  margin-bottom: 3.5rem;
}
nav .logo img{
  margin: 0;
  display: flex;
  text-align: left;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.item {
  flex-basis: 30%;
  margin: 0;
}
figure {
  margin: 3rem 0 0 0;
  flex-basis: 40%;
  }
article {
  flex-basis: 58%;
  }
}